name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions:
  id-token: write
  contents: read

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
    runs-on: ${{ matrix.os }}
    env:
      CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
      RUSTFLAGS: -D warnings
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install gtk lib
        run: sudo apt update && sudo apt install libwebkit2gtk-4.1-dev
        if: ${{ matrix.os == 'ubuntu-latest' }}

      - name: Update rust
        run: rustup install

      - name: Run tests
        run: cargo test --locked

      - name: Clippy
        run: cargo clippy --locked -- -D warnings

      - name: Check formatting
        run: cargo fmt --check

      - name: Build release
        run: cargo build --locked --release

      - name: Build MSIX
        run: |
          winget install Microsoft.WinAppCli --source winget --exact --silent --nowarn --disable-interactivity
          mkdir ./dist
          copy ./target/release/*.exe ./dist
          winapp pack ./dist
        if: ${{ matrix.os == 'windows-latest' }}

      - name: Azure login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        if: ${{ matrix.os == 'windows-latest' && github.ref == 'refs/heads/main' }}

      - name: Sign files with Artifact Signing
        uses: azure/artifact-signing-action@v1
        with:
          endpoint: https://eus.codesigning.azure.net/
          signing-account-name: dpaoliellosigning
          certificate-profile-name: appsigning
          files: ${{ github.workspace }}/dist/onedrive_slideshow.msix
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256
          exclude-environment-credential: true
          exclude-workload-identity-credential: true
          exclude-managed-identity-credential: true
          exclude-shared-token-cache-credential: true
          exclude-visual-studio-credential: true
          exclude-visual-studio-code-credential: true
          exclude-azure-cli-credential: false
          exclude-azure-powershell-credential: true
          exclude-azure-developer-cli-credential: true
          exclude-interactive-browser-credential: true
        if: ${{ matrix.os == 'windows-latest' && github.ref == 'refs/heads/main' }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.os }}
          path: |
              target/release/onedrive_slideshow*
              target/**/release/onedrive_slideshow*
              *.msix
          if-no-files-found: error
